body {
  margin: 0;
  font-family: "Futura Md BT";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(127, 218, 218);
}

code {
  font-family: "Futura Md BT";
}

#root {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: "Futura Md BT";
}